.order {
  margin: 50px;
  background: #fff;
  padding: 50px 50px;

}

.table {
}

table {
  width: 100%;
}

.noOrder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}