.order {
  margin: 50px;
  background: #fff;
  padding: 50px 50px;
  min-height: 100vh;

}

.order .noOrder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.order .button {
  padding: 12px;
}